@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap&subset=cyrillic');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Tinos', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	max-width: 800px;
	font-size: 16px;
	line-height: 1.6;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.title {
	margin: 10vh 0 0 0;
}

.info {
	font-weight: bold;
}

.content {
	margin: 10vh auto;
	list-style: none;
}

.list {
	list-style: none;
}

hr {
	border: 0;
	background: #ccc;
	height: 1px;
	margin: 10vh 0;
}

@media screen and (max-width: 55em) {

}