@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap&subset=cyrillic');

h1,
h2,
h3 {
	font-size: 16px;
	margin: 0 0 0.5rem;
}

:root {
	font-size: 20px;
}

body {
	margin: 0;
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	line-height: 1;
	font-size: 16px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.top {
	padding: 3rem 5vw;
}

.top__logo {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}

.top__mail {
	    font-size: 1rem;
	}

.content {
	text-align: center;
}

footer {
	margin: 3rem;
	font-size: 14px;
}

.photo {
	height: auto;
	width: 100%;
}

@media screen and (min-width: 53em) {
	.top {
		display: grid;
		padding: 3rem;
		grid-template-columns: 50% 50%;
	}
	.top__logo {
		justify-self: start;
		text-align: left;
	}
	.top__mail {
		justify-self: end;
	}
    .photo {
	height: 55vh;
	width: auto;
    }
    h1,
    h2,
    h3 {
	font-size: 21px;
	margin: 0 0 0.5rem;
}
}