@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

body {
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FFF;
	font-size: 12px;
	line-height: 2;
    color: #000;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

main {
  width: 100%;
}

#footer {
    position: fixed;
    left: 0; bottom: 0;
    padding: 24px 24px;
   }

.links {
margin: 40px 0;
}

@media screen and (min-width: 53em) {
    body {
    line-height: 1.5;
    }
    #footer {
    padding: 36px 36px;
   }
}