@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic');

body {
	margin: 0;
	font-family: Futura, "futura-pt", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	font-size: 14px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.top {
	padding: 3rem 5vw;
	text-align: center;
}

.top__logo {
	font-size: 1rem;
	margin: 0 0 1rem;
	font-weight: normal;
}

.content {
	margin: 20px auto;
	text-align: center;
}