@charset "utf-8";
@font-face {
    font-family: 'play';
    src: url('/tvereza.pro/fonts/play-regular-webfont.eot');
    src: url('/tvereza.pro/fonts/play-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/tvereza.pro/fonts/play-regular-webfont.woff') format('woff'),
         url('/tvereza.pro/fonts/play-regular-webfont.ttf') format('truetype'),
         url('/tvereza.pro/fonts/play-regular-webfont.svg#playregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6, .progress-bars li span {
	font-family: 'play';
}