*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 0.1em;
	color: #1f1f21;
	background: #cecece;
	height: 100vh;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #c2292e;
}


/* Content */
.content {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	padding: 2vw;
}

/* Slides */
.slides {
	position: relative;
	flex: 1;
}

.slide {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	height: 100%;
	margin: 0 0 0 10vw;
	pointer-events: none;
	background: #000000;
}

.slide__title {
	text-align: right;
}

.slide__title {
	font-size: 3vw;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 0.75em 0 0 0;
	color: #fff;
}

@media screen and (max-width: 50em) {
	.slide {
		width: 100%;
		margin: 0 0 50vh 0;
	}
		.slide__title {
		font-size: 1.5em;
	}
}
