@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900|IBM+Plex+Mono:500i&subset=cyrillic-ext');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	color: #57585c;
	background-color: #DCDCDC;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	outline: none;
}

.content {
	width: 100%;
	height: 100vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 40vw);
	grid-template-rows: repeat(2, 40vw);
	grid-gap: 1.6vw;
	width: 81.6vw;
	margin: 9.2vw auto 9.2vw 9.2vw;
}

.grid__item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	height: 100%;
	font-size: var(--font-size);
	color: var(--color-text);
}
.grid__item span {
	font-size: var(--font-size-span);
	font-weight: lighter;
}

/* Temy */
.danyliuk {
	background: #f7f4ec;
	font-weight: bold;
	--font-size: 6vw;
	--font-size-span: 3vw;
	--color-text: #000000;
}

.rmt {
	height: 70%;
}

.vkoveli {
	background: #fff;
}

.smart-rasing {
	background: #00ADEF;
}

.tverezo {
	background: #fff;
}

.tv {
	background: #fff;
}

.tvereza-pro {
	background: #fff;
}

.tverezo-com {
	background: #fff;
}

.sasha {
	background: #fff;
}

.mobi-kros {
	background: #fff;
}

.agata {
	background: #fff;
}

.sz {
	background: #fff;
}

.stereocam {
	background: #fff;
}

.mobila {
	background: #fff;
}

.tvereza {
	background: #fff;
}

.tk {
	background: #66B3B3;
}
.tk img {
	width: 80%;
}

.iov {
	background: #fff;
}

.kovel {
	background: #fff;
}

.nevysnykomp {
	background: #fff;
}

.storozhka {
	background: #fff;
}

/* temy */

@media screen and (min-width: 55em) {
	.grid {
		grid-template-columns: repeat(3, 25vw);
		grid-template-rows: repeat(2, 25vw);
		grid-gap: 1vw;
		width: 77vw;
		margin: 11.5vw auto 11.5vw 11.5vw;
	}
	.grid__item {
	    font-size: calc(var(--font-size) / 1.6);
    }
    .grid__item span {
	    font-size: calc(var(--font-size-span) / 1.6);
    }
}

@media screen and (min-width: 80em) {
	.grid {
		grid-template-columns: repeat(4, 20vw);
		grid-template-rows: repeat(1, 20vw);
		grid-gap: 0.8vw;
		width: 82.4vw;
		margin: 8.8vw auto 8.8vw 8.8vw;
	}
	.grid__item {
	    font-size: calc(var(--font-size) / 2);
    }
    .grid__item span {
	    font-size: calc(var(--font-size-span) / 2);
    }
}

@media screen and (max-width: 55em) {
}
