@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
    font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #8ECBED;
	line-height: 1;
	font-size: 14px;
	color: #1A56AC;
}

a {
	color: #1A56AC;
	text-decoration: underline;
}

a:hover,
a:focus {
	text-decoration: none;
}

main {
  padding: 36px;
}

.top {
	padding: 2rem;
}

.top__logo {
}

.top__mail {
	margin-top: 1rem;
	font-size: 16px;
	}

.content {
	padding: 0 2rem 3rem;
	font-weight: 500;
}

.image {
	height: auto;
	width: 100%;
	display:block;
    margin:auto;
}

footer {
	margin: 3rem;
	font-size: 14px;
}

.photo {
	height: auto;
	width: 100%;
}

@media screen and (min-width: 53em) {

	body {
	font-size: 21px;
    }
    main {
    padding: 48px;
    }
	.top {
		padding: 3rem;
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.top__logo {
		justify-self: start;
		text-align: left;
	}
	.top__mail {
		justify-self: end;
	}
	.content {
	padding: 0 3rem 3rem;
    }
    .photo {
	height: 55vh;
	width: auto;
    }
    .image {
	height: 55vh;
	width: auto;
    }
}