@import url('https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap&subset=cyrillic');

h1,
h2,
h3 {
	font-size: 18px;
	margin: 0 0 0.5rem;
}

:root {
	font-size: 20px;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	line-height: 1;
	font-size: 18px;
	color: #000;
}

a {
	color: #000;
	text-decoration: underline;
}

a:hover,
a:focus {
	text-decoration: none;
}

.top {
	padding: 2rem;
}

.top__logo {
}

.top__mail {
	margin-top: 1rem;
	font-size: 16px;
	}

.content {
	padding: 0 2rem 3rem;
	font-weight: 500;
}

.image {
	height: auto;
	width: 100%;
}

footer {
	margin: 3rem;
	font-size: 14px;
}

.photo {
	height: auto;
	width: 100%;
}

@media screen and (min-width: 53em) {
	h1,
    h2,
    h3 {
	font-size: 21px;
	margin: 0 0 0.5rem;
    }
	body {
	font-size: 21px;
    }

	.top {
		padding: 3rem;
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.top__logo {
		justify-self: start;
		text-align: left;
	}
	.top__mail {
		justify-self: end;
	}
	.content {
	padding: 0 3rem 3rem;
    }
    .photo {
	height: 55vh;
	width: auto;
    }
    .image {
	height: 55vh;
	width: auto;
    }
}