.menu--dustu .menu__item {
	font-family: "Montserrat", serif;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2em 0;
}

.menu--dustu .menu__item-name {
	font-size: 1.75em;
	font-weight: 600;
	overflow: hidden;
	padding: 0 0.25em;
	color: #252528;
}

.menu--dustu .menu__item-label {
	font-size: 1em;
	margin: 0.5em 0 0 0;
	margin-top: 0.25em;
	padding: 0.5em;
	color: #565656;
	transition: color 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-label {
	color: #fff;
}
